@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html{
  font-family: 'Source Sans Pro';
}

/* Remove on app release*/
.header-button {
  opacity: 0.8;
}
.header-button:active {
  transform: scale(1);
}
/***********************/

.search-field {
  background: #FFFFFF;
  border-radius: 25px;
  height: 40px;
  font-family: 'Source Sans Pro';
  text-align: center;
  font-size: 24px;
}

.header-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.header-text:hover {
  color: #ffffff;
  opacity: 0.8;
}

a:hover {
  opacity: 0.8;
}

.button-blockword:active {
  transform: scale(0.95);
}

.app-header-button {
  width: 220px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.header-button {
  width: 200px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.main-page-header-text {
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
}

.header {
  margin: 0px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-page-text {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
}

.email-form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: 80%;
  aspect-ratio: 1/1;
  background-color: black;
  position: relative;
}

.email-form-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: white;
  margin: 0;
}

.email-form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
}

.email-form-input {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 100%;
  font-family: 'Source Sans Pro';
  text-align: center;
}

.email-form-button {
  margin-top: 5px;
  width: 150px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.account {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 25px;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 260px;
}

.account-name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 68px;
  margin-bottom: 20px;
}

.account-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160.88%;
  margin-left: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.account-button {
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight: 400;
  font-size: 26px;
  line-height: 42px;
  color: #FFFFFF;
  white-space: nowrap;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  opacity: 0.8;
}

.account-add {
  margin-bottom: 20px;
  height: 260px;
  background: #FFFFFF;
  border: 2px dashed #000000;
  border-radius: 25px;
  cursor: pointer;
}

.account-add:hover {
  opacity: 0.8;
}

.add-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border: 2px solid #000000;
  box-shadow: -7px 9px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  z-index: 3;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.modal-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-right: 0px;
}

.modal-input {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 40px;
  margin-right: 0px;
  font-family: 'Source Sans Pro';
  font-size: 24px;
}

.close-alert-btn {
  background-color: white;
  color: black;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.copy-text {
  cursor: pointer;
}

.copy-text:active {
  opacity: 0.8;
}

.delete-cross:hover {
  opacity: 0.8;
}

.delete-cross:active {
  transform: scale(0.95);
}
